{% extends "base.html" %}

{% block content %}

<div class="row">
  <div class="col-8">
    {% include('messages.html') %}

    <h2>Latest news from <a href='https://www.python.org/'>python.org</a>:</h2>
    {% for el in news_list %}
    <h4>
      <a href="{{ url_for('news.single_news', news_id=el.id) }}">{{ el.title }}</a>
    </h4>
    <p>{{ el.published.strftime('%d.%m.%Y') }} | Комментарии: {{   el.comments_count()  }}</p>
    <hr>
    {% endfor %}

  </div>
  <div class="col-4">
    <h2>Weather forecast from worldweather API:</h2>
    <p>
      {% if weather %} Temperature: {{ weather.temp_C }}°С<br />
      Temperature feels like: {{ weather.FeelsLikeC }}°С {% else %} Weather is
      NOT available {% endif %}
    </p>
  </div>
</div>

{% endblock%}